.login-main {
    height: calc(100% - 50px);
    width: 100%;

    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    height: 500px;
    width: 500px;

    border-radius: 30px 10px 30px 10px;

    background-color: var(--semiBackgroundColor);
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.login h1 {
    color: var(--primaryTextColor);
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;

    color: var(--primaryTextColor)
}

.default-border {
    border-radius: 10px;
    border: 1px solid var(--backgroundColor);
    color: var(--background-color);
    background-color: var(--primaryTextColor);
}

.form-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.form-text {
    font-weight: bold;
}

.form-esqueceusenha {
    text-decoration: underline;
}

.login input[type="email"] {
    width: 80%;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
}

.login input[type="password"] {
    width: 80%;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
}

.login button[type="submit"] {
    width: 40%;
    height: 40px;
    font-weight: bold;
    transition: 0.3s;
    color: var(--backgroundColor)
}

.login button[type="submit"]:hover {
    color: var(--primaryTextColor);
    background-color: var(--backgroundColor); 
    width: 42%;
}